pydantic>=2.12.5
langgraph>=1.0.10
langchain-core>=1.2.19
langchain-community>=0.4.1
langchain-openai>=1.1.11
langchain>=1.2.12
anyio>=4.12.1
httpx>=0.28.1
PyYAML>=6.0.3
dotenv~=0.9.9
python-dotenv~=1.2.2

# unstructured是一个 Python开源库,设计用于处理和预处理非结构化数据(如 PDF、Word 文档、HTML、图片等),将其转换为结构化格式,方便下游机器学习(ML)或大语言模型(LLM)任务。
unstructured>=0.19.5